<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-logo">
                    <img src="../../assets/icon/icon-144x144.png"/>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Neural Health
                </span>

                <br />
                <p>Personal Information</p>

                <div class="wrap-input100 validate-input" data-validate = "Enter Full Name">
                    <input class="input100" type="text" name="fullname" placeholder="Full Name:">
                    <span class="focus-input100" data-placeholder="💬"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter Phone Number">
                    <input class="input100" type="text" name="number" placeholder="Phone Number:">
                    <span class="focus-input100" data-placeholder="📲"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter Medical Notes">
                    <input class="input100" type="textarea" name="medical" placeholder="Medical Notes:">
                    <span class="focus-input100" data-placeholder="🚑"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter Next Of Kin">
                    <input class="input100" type="text" name="nextofkinfullname" placeholder="Next Of Kin Full Name:">
                    <span class="focus-input100" data-placeholder="👨‍👩‍👦"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter Next Of Kin">
                    <input class="input100" type="text" name="nextofkincontactnumber" placeholder="Next Of Kin Full Contact Number:">
                    <span class="focus-input100" data-placeholder="📲"></span>
                </div>

                <p>Account Information</p>

                <div class="wrap-input100 validate-input" data-validate = "Enter email">
                    <input class="input100" type="text" name="email" placeholder="Email:">
                    <span class="focus-input100" data-placeholder="📧"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="pass" placeholder="Password:">
                    <span class="focus-input100" data-placeholder="🔒"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Re-enter password">
                    <input class="input100" type="password" name="pass" placeholder="Re-enter Password:">
                    <span class="focus-input100" data-placeholder="🔐"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign Up
                    </button>
                </div>

                <div class="txt2">
                    Already a member? 
                    <a class="txt2 bold" routerLink="/login">
                        Sign in.
                    </a>
                </div>
             
                <div class="txt3">
                    <span class="line">Follow Us</span>
                    <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-twitter"></i> </a>
                    <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="" target="_blank"><i class="fa-brands fa-youtube"></i></a>
               </div>
            </form>
        </div>
    </div>
</div>