<div class="container">
    <div class="row">
      <div class="col-6">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="">Account</a></li>
            <li><a routerLink="">Connect Device</a></li>
            <li><a routerLink="">Connection List</a></li>
            <li><a routerLink="">Support Articles</a></li>
        </ul>
      </div>
      <div class="col-6">
        <ul>
            <li><a routerLink="/help">Help</a></li>
            <li><a routerLink="">Report A Bug</a></li>
            <li><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
            <li><a routerLink="/cookies-policy">Cookies Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

<div class="copyright py-3">A <a href="https://belfastit.com/" class="belfastit" target="_blank">BelfastIT</a> technology.</div>