a {
  font-size: 16px;
  line-height: 1.7;
  color: white;
  margin: 0px;
  text-decoration: none;

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  position: relative;
  color: #0087ca;
}

li:after {
  content: "";
  position: absolute;
  width: 100px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.belfastit {
  text-decoration: underline !important;
}

.belfastit:hover {
  text-decoration: none !important;
}

.copyright {
  color: white;
  text-align: center;
}
